
/*
 *  Allgemeine Größenangabe für @MEDIAQUERRIES
 *  Smartphone: bis - 767 Pixel
 *  Tablet:     768 - 992 Pixel
 *  Desktop:    ab 993 Pixel
*/

/* ==========================================================================
ALLGEMEIN
========================================================================== */
body {
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 26px;       /* Vorgabe Frau Kreider */
  color: #aac72e;        /* Vorgabe Frau Kreider */
}
h2 {
  font-size: 21px;       /* Vorgabe Frau Kreider */
  color: #d67545;        /* Vorgabe Frau Kreider */
}
p {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 28px;
}
a {
  color: #d67545;
  text-decoration: underline;
}

/* ### ENTFERNT DEN INNENABSTAND DES PFEILSYMBOLS UND DES HAUPTINHALTTEXT FÜR TABLET UND DESKTOP ### */
@media screen and (min-width: 767px){   /* Tablet aufwärts */
  .col-1 {
    padding-left: 0px;
  }
  .col-md-11 {
    padding-left: 0px;
  }
}

/* ==========================================================================
LOGIN
========================================================================== */

  .login-button {
    width: 200px;
    height: 45px;
    max-width: 100%;
    background-color: #d67545;
    border: 0px;
    border-radius: 0px;
  }

  .login-button a {
    color: #fff;
  }

/* ==========================================================================
VOLLTEXTSUCHE
========================================================================== */

    .volltextsuche {
      display: flex;
      flex-direction: row-reverse;
    }
    .volltextsuche .volltextsuche-button {
      margin-top: -30px;
      margin-bottom: 20px;
      width: 200px;
      height: 50px;
      max-width: 100%;
      color: black;
    }

    .volltextsuche .volltextsuche-button:active {
      border: none;
    }

    .volltextsuche .form-group {
      float: left;
      width: 100%;
    }

    .volltextsuche .form-control {
      height: 45px;
      border: 0px;
      border-radius: 0px;
      background-color: #e2eef5;
      display: block;
      width: 85%;
      float: left;
    }

    .volltextsuche .suchfeld-lupe {
      background-color: #e2eef5;
      cursor:pointer;
      float: left;
      width:15%;
      height: 45px;
      text-align:center;
      border-left: 1px solid #e2eef5;
    }

    .volltextsuche .suchfeld-lupe img {
      margin: 12px 8px 0px 0px;
      width: 23px;
      height: 23px;
    }

    .form-control:hover {
      border: none;
    }


    /* ### EXTRACODE FÜR INTERNET EXPLORER ABSTAND BUTTON VOLLTEXTSUCHE HEADER ### */
    /* MOBILE für INTERNET EXPLORER - entfällt, da nicht vorhanden */

    /* TABLET für INTERNET EXPLORER */
    @media all and (min-width: 767px ) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .volltextsuche .volltextsuche-button {
        margin-top: 25px;
      }
      .menue-resposnive {
        margin-top: 50px;
      }
    }

    /* DESKTOP für INTERNET EXPLORER */
    @media all and (min-width: 993px ) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .volltextsuche .volltextsuche-button {
        margin-top: 55px;
      }
    }


/* ==========================================================================
LOGO
========================================================================== */

#logo {
   margin: auto;
   border-radius: 50%;
   width: 260px;
   height: 260px;
   max-width: 100%;
   height: auto;
   background-color: white;
   z-index: 999;
   border: 10px solid white;
 }

 @media screen and (max-width: 330px){     /* Smartphones */
   #logo {
     width: 200px;
     height: 200px;
   }
 }

 @media screen and (min-width: 331px) and (max-width: 400px){     /* Smartphones */
   #logo {
     width: 200px;
     height: 200px;
     margin-left: 20px;
   }
 }
@media screen and (min-width: 401px) and (max-width: 420px){     /* Smartphones */
  #logo {
    width: 200px;
    height: 200px;
    margin-left: 25px;
  }
}
 @media screen and (min-width: 768px){     /* Tablet */
   #logo {
       border: 10px solid white;
   }
 }
 @media screen and (min-width: 993px){     /* Desktop */
   #logo {
     border: 20px solid white;
     margin-left: -20px;
   }
 }

/* ==========================================================================
MENÜ DESKTOP
========================================================================== */

  .menue {
    padding-left: 20px;
  }

  nav, ul, li, a {
    margin: 0;
    padding: 0;
  }

  nav ul {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
  }

  nav ul li {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    position: relative;
    flex-grow: 1 0 auto;
  }

  nav ul li a {
    color: black;
    display: inline-block;
    text-decoration: none;
  }

  nav ul li .active {
    color: #aac72e;
  }

  .has-children {
    background-color: #fff;
  }
  .has-children ul {
    display: none;
    position: absolute;
    padding-top: 22px;
    width: 320px;
    min-width: 100%;
    text-align: left;
  }
  .has-children ul li {
    padding: 12px 0px 10px 15px;
    background-color: white;
    font-size: 17px;
    text-transform: none;
    position: static;
  }
  .has-children ul li:before {
    content:"";
    display: inline-block;
    width: 20px;
  }

/*   ####################################    */
/*               HOVER EFFEKTE               */

  nav ul li:hover {
    text-decoration: none;
    z-index: 3;
    border-bottom: 5px solid #aac72e;
  }

  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li a:hover {
    text-decoration: none;
    color: #aac72e;
  }

  .has-children ul li:hover {
    color: #aac72e;
    border: none;
  }

  .has-children ul li a::before {
    content: "\f0da";
    display: none;
    font-family: "fontawesome";
  }

  .has-children ul li a:hover:before {
    content: "\f0da";
    display: inline-block;
    font-family: "fontawesome";
    margin-left: -15px;
    padding-right: 9px;
    line-height: 15px;
  }

  /* ## CSS-Regeln für Desktop Ansicht ### */
  @media screen and (min-width:993px){
    .menue-responsive {
      display: none;
    }
    .responsive-menue {
      display: none;
    }
  }

/* ==========================================================================
MENÜ RESPONSIVE & TABLET
========================================================================== */

  .navbar-responsive ul {
    height: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .navbar-nav .dropdown-menu {
    border: none;
  }

  .dropdown-item {
    padding: .25rem 0rem !important;
  }

  .nav-item {
    padding-left: 15px;
  }

  .nav-item:last-child {                  /* nur LOGIN */
    display: none;
  }

  @media screen and (max-width:992px){    /* bis Tablet */
    .menue {
      display: none;
    }
    nav ul {
      flex-direction: column;
      text-align: left;
      padding-left: 30px;
    }
    nav ul li {
      display: block;
      padding-bottom: 5px;
    }
    nav ul li:hover {
      border-bottom: none;
    }
    .has-children ul li a {
      padding-left: 2rem;
    }
  }

  /* ##################################### */
  /*               SMARTPHONE              */
  @media screen and (max-width: 767px){
    .nav-item:last-child {                  /* nur LOGIN */
      padding-top: 30px;
      display: block;
    }
  }

/* ==========================================================================
SYMBOL RESPNSOVE MENÜ
========================================================================== */

  .menue-responsive {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar-toggler {
    font-size: 40px;
    margin-right: -15px;
    margin-bottom: 40px;
  }

/* ==========================================================================
Kopfbereich - Slideshow
========================================================================== */

  .carousel {
    min-width: 100%;
    width: 100%;
    z-index: -5;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 3%;
    z-index: 5;
  }

  /* ##################################### */
  /*               SMARTPHONE              */
  @media screen and (max-width: 767px){
    .carousel {
      margin-top: -50px;
    }
    .carousel img {
      width: 100%;
      height: 30vh;
      max-height: 30vh;
    }
    .carousel-indicators {        /* ENTFERNT SLIDESHOW SYMBOLE */
      display:none !important;
    }
  }

  /* ##################################### */
  /*                 TABLET                */
  @media screen and (min-width: 768px){
    .carousel {
      margin-top: -60px;
    }
    .carousel img {
      width: 100%;
      height: 350px;
      max-height: 350px;

    }
  }

  /* ##################################### */
  /*                  DESKTOP              */

  @media screen and (min-width: 992px){     /* DESKTOP - KLEIN - */
    .carousel {
      margin-top: -75px;
    }
    .carousel img {
      width: 100%;
      height: 400px;
      max-height: 400px;

    }
  }

  @media screen and (min-width: 1200px){      /* DESKTOP - GROß - */
    .carousel {
      margin-top: -85px;
    }
    .carousel img {
      width: 100%;

      height: 500px;
      max-height: 500px;

    }
  }


/* ==========================================================================
  Header Wallpaper
  ========================================================================== */

  .wallpaper {
    z-index: 3;        /*  ?????  */
    width: 100%;
  }

  /* ##################################### */
  /*               SMARTPHONE              */
  @media screen and (max-width: 767px){
    .wallpaper {
      margin-top: -50px;
      height: 210px;
      max-height: 210px;
    }
  }
  /* ##################################### */
  /*                 TABLET                */
  @media screen and (min-width: 768px){
    .wallpaper {
      margin-top: -70px;
      height: 350px;
      max-height: 350px;
    }
  }
  /* ##################################### */
  /*                  DESKTOP              */

  @media screen and (min-width: 992px){       /* DESKTOP - KLEIN - */
    .wallpaper {
      margin-top: -74px;
      height: 450px;
      max-height: 450px;
    }
  }

  @media screen and (min-width: 1200px){      /* DESKTOP - GROß - */
    .wallpaper {
      margin-top: -84px;
      height: 500px;
      max-height: 500px;
    }
  }

/* ==========================================================================
  1. Reihe - Haupttext & Sideblock
  ========================================================================== */

  .row_reihe_1 {
    margin-top: 8%;
  }

  .row_reihe_1 img.pfeilsymbol {
    width: 30px;
    height: 30px;
    margin-left: 3px;
  }

  .sideblock h5 {
    color: #d67545;
    text-align: center;
    padding-top: 15px;
  }

  .haupttext ul li {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 20px;
  }

  .haupttext ul li:before {   /* VORHER = .haupttext ul.menuItems li:before {} */
    content: "\f0da";
    display: inline-block;
    font-family: "fontawesome";
    padding-right: 10px;
    color: #aac72e;
    font-size: 20px;
    /* new */
   margin-left: -0.87em;
   }

   .haupttext ul>li>ul>li {
     padding-left: 10px;
     margin-bottom: 20px;
   }

   .haupttext ul>li>ul>li:before {   /* VORHER = .haupttext ul.menuItems li:before {} */
     content: "\2022";
     display: inline-block;
     padding-right: 10px;
     color: #aac72e;
     font-size: 20px;
   }

  .haupttext ul.menuItems b {

  }

  .haupttext table td {
    margin-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }


/* ==========================================================================
  2. Reihe - Infoblöcke
  ========================================================================== */

  .row_reihe_2 {
    margin-top: 6%;
  }
  .card {
    background: transparent;
    border: 0,5px dotted black;
    border-radius: 0;
  }
  .block_hintergrund_1 {
    background-color: #e2eef5;          /* Vorgabe Frau Kreider */
  }

  /** ######################################################## **/
  /**                         Block 1                          **/
  #infoblock1 .card {
    border: 1px solid #d67545;          /* Vorgabe Frau Kreider */
  }
  #infoblock1 img {
    width: 260px;
    height: 270px;
  }
  #infoblock1 img.pfeilsymbol {         /* Pfeilsymbol neben Überschricht */
    width: 30px;
    height: 30px;
    margin-top: -8px;
    margin-right: 10px;
  }
  #infoblock1 img.pfeilsymbol-2 {       /* Pfeilsymbol neben Text */
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }

  #infoblock1 hr {
    height: 8px;
    background-color: #d67545;          /* Vorgabe Frau Kreider */
    margin-bottom: 0;
  }
  #infoblock1 .card-text:last-child {
    padding: 15px 5px 15px 25px;
  }


  /** ######################################################## **/
  /**                         Block 2                          **/
  #infoblock2 .card {
    border: 1px solid #aac72e;        /* Vorgabe Frau Kreider */
  }

  #infoblock2 img {
    width: 260px;
    height: 270px;
  }
  #infoblock2 img.pfeilsymbol {       /* Pfeilsymbol neben Überschricht */
    width: 30px;
    height: 30px;
    margin-top: -8px;
    margin-right: 10px;
  }
  #infoblock2 img.pfeilsymbol-2 {     /* Pfeilsymbol neben Text */
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  #infoblock2 hr {
    height: 8px;
    background-color:#aac72e;          /* Vorgabe Frau Kreider */
    margin-bottom: 0;
  }
  #infoblock2 .card-text:last-child {
    padding: 15px 5px 15px 25px;
  }

  /* ### TEST CODE FLEXBLOX CARD BLOCK ### */
  /*   zum beheben des Fehlers in Mozilla  */

  #infoblock1 .row,
  #infoblock2 .row {
    width: 100%;
    display: flex !important;
    flex-direction: row;
  }

  #infoblock1 .col-11,
  #infoblock2 .col-11 {
    width: 85%;
    max-width: 85% !important;
  }

  /* ##################################### */
  /*                  DESKTOP              */
  @media screen and (min-width: 1000px){
    #infoblock1 .col-11,
    #infoblock2 .col-11 {
      width: 90%;
      max-width: 90% !important;
    }
  }

  #infoblock1 .col-1,
  #infoblock2 .col-1 {
    align-self: flex-end;
  }

  /** ######################################################## **/
  /**                        Suchblock                         **/

  /* ##################################### */
  /*               SMARTPHONE              */
  @media screen and (max-width: 767px){
    #suchblock,
    .suchblock-unterseite-klein {
      background: #d67545 url("../images/Symbole/lupe-gross.png") no-repeat;  /* Hintergrundbild wird nicht geladen */
      background-position: 50% 70%;
      height: 500px;
    }
    #suchblock p,
    .suchblock-unterseite-klein p {
      padding-top: 40px;
    }
  }

  /* ##################################### */
  /*                 TABLET                */
  @media screen and (min-width: 768px){                                   /* Hintergrundbild wird ausgeblendet */
    #suchblock,
    .suchblock-unterseite-klein {
      background: none;
      background-color: #d67545;
      padding-bottom: 2%;
    }
  }

  /* ##################################### */
  /*                  DESKTOP              */
  @media screen and (min-width: 993px){
    #suchblock,
    .suchblock-unterseite-klein {
      background: #d67545 url("../images/Symbole/lupe-gross.png") no-repeat;  /* Hintergrundbild wird nicht geladen */
      background-position: 50% 70%;
      height: 100%;
      max-height: 600px
    }
    #suchblock p,
    .suchblock-unterseite-klein p {
      padding-top: 40px;
    }
  }
  #suchblock h3,
  .suchblock-unterseite-klein h3 {
    margin-bottom: 10%;
    color: white;
  }
  #suchblock img,
  .suchblock-unterseite-klein img {
    width: 60%;
    height: 60%;
  }
  #suchblock img.pfeilsymbol,
  .suchblock-unterseite-klein img.pfeilsymbol {
    width: 30px;
    height: 30px;
    margin-top: -8px;
    margin-left: 5px;
    margin-right: 5px;
  }
  #suchblock .form-group,
  .suchblock-unterseite-klein .form-group {
    float: left;
    width: 100%;
  }
  #suchblock .form-control,
  .suchblock-unterseite-klein .form-control {
    background-color: #fff;
    float: left;
    height: 40px;
    width: 90%;
    border: none;
    border-radius: 0px;
  }
  #suchblock .suchfeld-lupe,
  .suchblock-unterseite-klein .suchfeld-lupe {
      background-color: #fff;
      cursor:pointer;
      float: left;
      width:10%;
      height: 40px;
      text-align:center;
      border-left: 1px solid #fff;
  }
  #suchblock .suchfeld-lupe img,
  .suchblock-unterseite-klein .suchfeld-lupe img {
    margin: 8px 5px 0px 0px;
    width: 25px;
    height: 25px;
  }

  /* ###################################### */
  /*  seperates Styling für die Unterseiten */

  .suchblock-unterseite-klein {
    margin-top: 50px;
    max-height: 350px;
    background: none;
    background-color: #d67545;
  }

  .suchblock-unterseite-klein p {
    padding-top: 0px;
  }


/* ==========================================================================
  3. Reihe - Kontakt, Menü & Flyer
  ========================================================================== */

  .row_reihe_3 {
    background-image: url("../images/hintergrund-gruen.png");
    background-size: cover;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 4px 4px 10px(0, 0, 0, .5);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, .5);
    min-height: 200px;
    margin-top: 5%;
    padding-top: 3%;
    color: black;
  }
  .row_reihe_3 b {
    line-height: 30px;
    font-size: 19px;
    font-weight: 500;
  }
  .row_reihe_3 a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-size: ;          /* #### HIER DIE SCHRIFTGRÖße EINGEBEN */
  }
  .row_reihe_3 i {
    padding-right: 15px;
  }
  .row_reihe_3 .link_header {
    font-size: 18px;
  }
  .row_reihe_3 .flyer {
    text-align: center;
  }
  .row_reihe_3 .flyer img {
    max-height: 230px;
  }
  @media screen and (max-width: 768px){       /* Smartphone */
    .row_reihe_3 .flyer img {
      max-height: 180px;
    }
    .row_reihe_3 .flyer .row {
      background-color: red;
    }
  }

  .row_reihe_3 .flyer h5 {
    text-align: center;
    color: #fff;
  }
  @media screen and (max-width: 768px){       /* Smartphone */
    .row_reihe_3 .flyer h5 {
      font-size: 17px;
    }
  }

  .flyer-mobil {
    position: relative;
    padding: 0px;
    margin: 0px;
  }

  .flyer-mobil .background-circle {
    padding: 0px;
    margin: 0px;
    background-color: #aac72e;
    height: 260px;
    width: 100%;
    margin: 13px 15%;
    border-radius: 50%;
    z-index: 5;
  }

  .flyer-mobil .content {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -7.5%);
    z-index: 8;

  }

  .flyer-mobil .content img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flyer-mobil .content-downloaden {
    text-align: center;
    color: #d67545;
  }


/* ==========================================================================
  Layout Unterseite: Team
  ========================================================================== */

  .teamInfotext h2 {
    padding-bottom: 10px;
  }
  .teamInfotext ul li {
    margin-left: 20px;
    font-size: 18px;
    padding-bottom: 8px;
  }

  .teamMitglied {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .teamMitglied h1 {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    color: black;
  }
  .teamMitglied p {
    max-width: 65%;
    margin-right: 5%;
    float: left;
  }
  .teamMitglied img {
    max-width: 30%;
    min-width: 30%;
    height: auto;
    padding-top: 7px;
    float: right;
  }
  @media screen and (max-width:768px){      /* Smartphone */
    .teamMitglied p {
      max-width: 100%;
      min-width: 100%;
      display: block;
    }

    .teamMitglied img {
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 10px;
      height: auto;
      display: block;
    }
  }

  .team-aside #suchblock {
    max-width: 200px;
  }



  /* ==========================================================================
    Layout Unterseite: Einrichtungen
    ========================================================================== */

  .einrichtungen h1 {
    width: 10%;
    float: left;
    padding-left: 15px;
  }
  .einrichtungen ul {
    width: 90%;
    float: left;
    margin-bottom: 20px;
  }
  .einrichtungen ul li a {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
  }

  .einrichtungen ul li {

  }

  .einrichtungen div {          /* jeweils ein DIV-Container pro Buchstabe */
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (max-width: 768px) {    /* Smartphone */
    .einrichtungen div {
      padding-left: 16px;

    }
  }


  /* ==========================================================================
    Fußbereich
  ========================================================================== */

  .fussbereich {
    margin-top: 5%;
    color: black;
    font-weight: 600;
    padding-bottom: 10px;
  }

  .fussbereich a {
    font-size: 17px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    text-align: right;
  }
  .fussbereich h5 {
    color: #FFFFCC;
    text-align: center;
  }
  .fussbereich p .impressum {
    float: right;
  }

  .fussbereich img {
    margin: 0;
    padding: 0;


  }

  @media screen and (max-width: 767px){       /* IMG SMARTPHONE ANSICHT */
    .fussbereich img {
      max-width: 200px;
      min-height: 60px;
      max-height: 150px;
      padding: 20px 10px;
    }
    .fussbereich #logo-stadt-bonn img {       /* Erstes Bild im Fußbereich */
      width: 100px;
      height: 120px;
    }
    .fussbereich img:last-child {             /* Letztes Bild im Fußbereich */
      max-width: 250px;
    }
    .fussbereich .xs-12 {
      text-align: center;
    }
    .fussbereich .xs-12:first-child {
      text-align: left;
    }
  }

  @media screen and (min-width: 768px){       /* IMG TABLET ANSICHT */
    .fussbereich img {
      max-width: 150px;
      max-height: 80px;
      float: right;
    }
    .fussbereich #logo-stadt-bonn img {       /* Erstes Bild im Fußbereich */
      width: 80px;
      height: 70px;
      padding-left: 10px;
    }
  }

/* ==========================================================================
  Erweiterungen Meurer
  ========================================================================== */
  .suchfeld-lupe input[type=submit] {
  background: url("../images/Symbole/lupe-klein.png");
  border: 0;
  display: block;
  height: 25px;
  width:  25px;
  background-repeat: no-repeat;
  padding-top: 10px;
  margin-top: 10px;
}
/* Xinha
  */


 .htmlarea td
  {
 margin: 0px !important;
 padding: 2px !important;
 /* border-collapse: collapse !important; */
}
