/* ==========================================================================
  LOGIN
  ========================================================================== */

.login-button {
  width: 200px;
  height: 45px;
  max-width: 100%;
  background-color: #FF6600;
  border: 0px;
  border-radius: 0px;
}

.login-button a {
  color: #fff;
}

.login-rahmen {
  border: 2px solid transparent;
}

/* ==========================================================================
  VOLLTEXTSUCHE
  ========================================================================== */

.volltextsuche {
  display: flex;
  flex-direction: row-reverse;
}

#volltextsuche {
  margin-top: -30px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  max-width: 100%;
  color: black;
}

.form-control {
  height: 45px;
  border: 0px;
  border-radius: 0px;
  background-color: #99CCFF;
  display: block;
  text-align: center;
}

/* ==========================================================================
  MENÜ DESKTOP
  ========================================================================== */

#logo {
  text-align: center;
}

.menü {
  padding-left: 20px;
  z-index: 100;
}

nav, ul, li, a {
  margin: 0;
  padding: 0;
}

nav ul {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  position: relative;
  flex-grow: 1 0 auto;
}

nav ul li a {
  color: black;
  display: block;
  text-decoration: none;
}

.has-children {
  background-color: #fff;
}
.has-children ul {
  display: none;
  position: absolute;
  padding-top: 22px;
  width: 320px;
  min-width: 100%;
  text-align: left;
}
.has-children ul li {
  padding: 12px 0px 10px 30px;
  background-color: white;
}

.has-children .fa {
  display: none;
}


/*   ##############    */
/*    HOVER EFFEKTE    */

nav ul li:hover {
  text-decoration: none;
  z-index: 3;
}

nav ul li:hover ul {
  display: flex;
  flex-direction: column;
}

nav ul li a:hover {
  text-decoration: none;
  color: black;
}

.has-children ul li:hover {
  color: black;
}

.has-children ul li:hover .fa {
  display: inline-block;
}

/* CSS-Regeln für Desktop Ansicht */
@media screen and (min-width:900px){
  .menü-responsive {
    display: none;
  }
  .responsive-menü {
    display: none;
  }
}

/* ==========================================================================
  MENÜ RESPONSIVE & TABLET
  ========================================================================== */
.responsive-menü {
  height: 100%;
  margin-top: 20px;
  padding-bottom: 60px;
}

.nav-item {
  padding-left: 15px;
}


@media screen and (max-width:900px){
  .menü {
    display: none;
  }
  nav ul {
    flex-direction: column;
    text-align: left;
    padding-left: 30px;
  }
  nav ul li {
    display: block;
    padding-bottom: 5px;
  }


  .has-children ul li a {
    padding-left: 10rem;
  }
}

/* SYMBOL RESPNSOVE MENÜ */
.menü-responsive {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-toggler {
  font-size: 40px;
  padding-bottom: 20px;
}
